@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Light.woff2") format("woff2"),
    url("../fonts/ProximaNova-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Regular.woff2") format("woff2"),
    url("../fonts/ProximaNova-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Semibold.woff2") format("woff2"),
    url("../fonts/ProximaNova-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Bold.woff2") format("woff2"),
    url("../fonts/ProximaNova-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Proxima Nova", "Arial", sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  background-color: #FAFBFC;
  color: #222222;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  max-width: 1366px;
  padding: 0 43px;
  margin: 0 auto;
}
/* SITENAV */
.sitenav {
  padding: 10px 0;
  background-color: #fff;
}
.sitenav--fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
.sitenav__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.logo {
  margin-right: 60px;
}
.logo__link {
  display: inline-block;
  vertical-align: middle;
}
.logo__img {
  display: block;
}
.logo__img--text {
  display: none;
}
.sitenav--fixed .logo__img--symbol {
  display: none;
}
.sitenav--fixed .logo__img--text {
  display: block;
}
.sitenav__toggler {
  display: none;
}
.sitenav__collapse {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-grow: 1;
}
.sitenav__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.sitenav__item + .sitenav__item {
  margin-left: 35px;
}
.sitenav__link {
  display: block;
  padding: 8px;
  text-decoration: none;
  color: #222222;
  transition: color 0.3s ease;
}
.sitenav__link:hover {
  color: #FAB00B;
}
.sitenav__signup-link {
  display: block;
  padding: 8px;
  margin-left: auto;
  text-decoration: none;
  color: #FAB00B;
  transition: color 0.3s ease;
}
.sitenav__signup-link:hover {
  color: #222222;
}
@media (max-width: 1125px) {
  .sitenav__item + .sitenav__item {
    margin-left: 25px;
  }
}
@media (max-width: 1040px) {
  .container {
    padding: 0 30px;
  }
  .logo {
    width: 100%;
    margin: 0 auto 10px;
    text-align: center;
  }
  .sitenav__collapse {
    margin-right: 50px;
  }
}
@media (max-width: 860px) {
  .sitenav__collapse {
    margin-right: 20px;
  }
  .sitenav__item + .sitenav__item {
    margin-left: 15px;
  }
}
@media (max-width: 775px) {
  .logo {
    width: auto;
    margin: 0;
  }
  .sitenav__toggler {
    order: 1;
    display: block;
    border: 1px solid #FAB00B;
    padding: 8px;
    margin-left: 20px;
    border-radius: 3px;
    background-color: transparent;
  }
  .sitenav__collapse {
    display: none;
  }
  .sitenav__signup-link {
    border-radius: 3px;
    background-color: #FAB00B;
    color: #fff;
  }
}
@media (max-width: 510px) {
  .sitenav__signup-link {
    display: none;
  }
}
