.button {
  display: inline-block;
  vertical-align: middle;
  padding: 10px;
  border: 0.5px solid #e4e4e4;
  border-radius: 4px;
  appearance: none;
  background: #fff;
  color: #000;
  font-size: 15px;
  line-height: 16px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;

  &--open,
  &:hover,
  &:focus {
    border-color: transparent;
    background-color: $primary-color;
    color: #fff;
  }

  &:focus {
    outline: 0;
    box-shadow: 0 0 0 4px rgba($primary-color, 0.3);
  }

  &--full:hover,
  &--full:focus {
    width: 100%;
  }
}
.button__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button__text {
  display: inline-block;
  max-width: 0;
  overflow: hidden;
  transform-origin: left center;
  transform: scaleX(0);
  transition: transform $transition-duration ease,
    max-width $transition-duration ease,
    margin $transition-duration ease;
}
.button--open .button__text,
.button:hover .button__text,
.button:focus .button__text {
  max-width: 3000px;
  margin-right: 7px;
  transform: scaleX(1);
}
.button--open svg,
.button:hover svg,
.button:focus svg {
  fill: #fff;
}
