.course {
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16);
  transition: box-shadow $transition-duration ease;

  &:hover {
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.16);
  }
}
.course:hover .button {
  width: 100%;
  border-color: $primary-color;
  background-color: $primary-color;
  color: #fff;
}
.course:hover .button__arrow {
  fill: #fff;
}
.course__main {
  display: flex;
  flex-wrap: wrap;
}
.course__info {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 30px;
}
.course__title {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 19px;
  line-height: 26px;
}
.course__info-text {
  flex-grow: 1;
  margin-top: 0;
}
.course__details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.course__meta {
  display: flex;
  flex-direction: column;
  width: 46%;
}
.course__meta-heading {
  flex-grow: 1;
  margin-top: 0;
  margin-bottom: 5px;
}
.course__meta-value {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 23px;
  line-height: 31px;
  font-weight: bold;
}
.course__poster {
  width: 50%;
  object-fit: cover;
}
.course__footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 25px 30px;
}
.course__footer-action {
  width: 50%;
  padding-right: 30px;
}
.course__footer .course__meta {
  width: 50%;
  margin-left: auto;
}
@media (max-width: 1185px) {
  .course__info,
  .course__footer-action {
    width: 55%;
  }
  .course__poster,
  .course__footer .course__meta {
    width: 45%;
  }
}
@media (max-width: 1040px) {
  .course__info {
    width: 100%;
  }
  .course__poster {
    order: -1;
    width: 100%;
  }
}
@media (max-width: 960px) {
  .course__details {
    justify-content: flex-start;
  }
  .course__meta {
    width: 45%;
  }
  .course__footer-action {
    width: 45%;
  }
  .course__footer .course__meta {
    width: 55%;
  }
}
@media (max-width: 850px) {
  .course__info {
    padding: 20px 15px;
  }
  .course__footer {
    padding: 15px;
  }
}
@media (max-width: 810px) {
  .course__info {
    width: 50%;
    padding: 30px;
  }
  .course__poster {
    order: 0;
    width: 50%;
  }
  .course__footer {
    padding: 30px;
  }
  .course__footer-action,
  .course__footer .course__meta {
    width: 50%;
  }
}
@media (max-width: 710px) {
  .course__title {
    font-size: 22px;
  }
  .course__meta-value {
    font-size: 18px;
    line-height: 24px;
  }
  .course__footer {
    padding: 15px 30px;
  }
}
@media (max-width: 590px) {
  .course__info {
    padding: 20px;
  }
  .course__meta {
    width: 50%;
    padding-right: 10px;
  }
  .course__footer {
    padding: 20px;
  }
}
@media (max-width: 510px) {
  .course__info {
    width: 100%;
  }
  .course__poster {
    order: -1;
    width: 100%;
    height: 200px;
  }
  .course__footer-action {
    order: 1;
    width: 100%;
    padding: 0; 
  }
  .course__footer .course__meta {
    width: 100%;
    margin-bottom: 15px;
  }
}
@media (max-width: 440px) {
  .course__meta {
    width: 100%;
  }
  .course__meta + .course__meta {
    margin-top: 15px;
  }
  .course__meta-heading {
    margin-bottom: 0;
  }
}
