.course-info__inner {
  padding: 50px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.16);
}
.course-info__header {
  display: flex;
}
.course-info__poster {
  border-radius: 10px;
  margin-right: 50px;
}
