.learning-process__timeline {
  position: relative;
  padding: 20px 0;
}
.learning-process__hover-line {
  position: absolute;
  z-index: 1;
  top: 50%;
  height: 2px;
  margin-top: -1px;
  background-color: $primary-color;
}
.learning-process__circles {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  display: flex;
}
.learning-process__circle {
  width: 160px;
  height: 160px;
  border: 1px dashed #070707;
  margin: 0 10px;
  border-radius: 50%;
}
.learning-process__list {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  font-weight: 600;
  list-style-type: none;

  &::before {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    margin-top: -1px;
    background-color: #e4e4e4;
    content: "";
  }
}
.learning-process__start,
.learning-process__finish {
  position: relative;
  z-index: 1;
  flex-grow: 1;

  &::before {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: $primary-color;
    content: "";
  }
}
.learning-process__finish::before {
  margin-left: auto;
}
.learning-process__text {
  position: absolute;
  bottom: 30px;

  &--start {
    left: 0;
  }

  &--finish {
    right: 0;
  }
}
.learning-process__step {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  padding: 10px;
  margin: 0 30px;
  border-radius: 50%;
  text-align: center;
  background-color: #e4e4e4;
  transition: background-color 0.2s ease,
    color 0.2s ease;

  &--active {
    background-color: $primary-color;
    color: #fff;
  }
}
