.registration {
	margin-top: 150px;
	background-color: #fff;
}
.registration__container {
	display: flex;
	flex-wrap: wrap;
	padding: 0 100px;
}
.registration__motto {
	flex-grow: 1;
	text-align: center;
}
