.registration-form {
	position: relative;
	z-index: 1;
	top: -50px;
	width: 330px;
	padding: 30px;
	margin-right: 130px;
	background-color: #fff;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.16);

	&--promo-slider {
		position: absolute;
		top: 80px;
		left: 205px;
	}
}
.registration-form__heading {
	margin-top: 0;
	margin-bottom: 15px;
}
.registration-form__text {
	margin-top: 0;
	margin-bottom: 26px;
	font-size: 13px;
	line-height: 16px;
}
.registration-form__group {
	margin-top: 0;
	margin-bottom: 20px;

	& + .button {
		margin-top: 20px;
	}
}
.registration-form__field {
	width: 100%;
	padding: 10px;
	border: 0;
	border-bottom: 2px solid #e4e4e4;
	transition: border-bottom $transition-duration ease;

	&:focus {
		outline: 0;
		border-bottom-color: $primary-color;
	}
}
@media (max-width: 1200px) {
	.registration-form--promo-slider {
		top: 40px;
		left: 150px;
	}
}
@media (max-width: 1120px) {
	.registration-form--promo-slider {
		top: 20px;
		left: 100px;
	}
}
@media (max-width: 1125px) {
	.registration-form {
		margin-right: 0;

		&--promo-slider {
			padding: 20px;
		}
	}
}
@media (max-width: 990px) {
	.registration-form--promo-slider {
		display: none;
	}
}
@media (max-width: 960px) {
	.registration-form {
		top: 0;
	}
}
@media (max-width: 930px) {
	.registration-form {
		width: 70%;
	}
}
@media (max-width: 590px) {
	.registration-form {
		width: 100%;
		box-shadow: 0 0 15px rgba(0, 0, 0, 0.16);
	}
}
