.review {
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: flex-start;
  margin: 20px;
  border-radius: 50%;
  
  &--open {
    z-index: 10;
    width: 420px;
    min-height: 190px;
    padding: 20px;
    margin: 0;
    border-radius: 8px;
  }

  &:nth-child(1) {
    top: 50px;
    left: 160px;
  }

  &:nth-child(2) {
    top: -50px;
    left: 480px;
  }

  &:nth-child(3) {
    top: 0;
    right: 460px;
  }

  &:nth-child(4) {
    top: -25px;
    right: 175px;
  }

  &:nth-child(5) {
    top: 270px;
    left: 290px;
  }

  &:nth-child(6) {
    right: 330px;
    top: 160px;
  }

  &:nth-child(7) {
    bottom: 40px;
    left: 100px;
  }

  &:nth-child(8) {
    left: 440px;
    bottom: 20px;
  }

  &:nth-child(9) {
    bottom: -20px;
    right: 450px;
  }

  &:nth-child(10) {
    right: 180px;
    bottom: -20px;
  }
  
  &::before {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.16);
    content: "";
  }

  > * {
    position: relative;
  }
}
.review__opener {
  flex-shrink: 0;
  width: 63px;
  height: 63px;
  padding: 0;
  border: 0;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

  &:focus {
    outline: 0;
    box-shadow: 0 0 0 4px rgba($primary-color, 0.3);
  }
}
.review__avatar {
  vertical-align: middle;
}
.review__inner {
  display: none;
  margin-left: 20px;
}
.review--open .review__inner,
.review--open::before {
  display: block;
}
.review__person {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 23px;
  line-height: 31px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.review__sphere {
  color: $primary-color;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.review__video-button {
  border: none;
  border-radius: 3px;
  background: none;
  cursor: pointer;

  &:focus {
    outline: 0;
    box-shadow: 0 0 0 4px rgba($primary-color, 0.3);
  }
}
.review__video-button-inner {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: $primary-color;
  text-transform: uppercase;
  letter-spacing: 1px;
  fill: $primary-color;

  .button__arrow {
    margin-left: 5px;
  }
}
.review__close-button {
  border: none;
  border-radius: 3px;
  margin-left: 5px;
  background: none;
  color: #999;

  &:focus {
    outline: 0;
    box-shadow: 0 0 0 4px rgba($primary-color, 0.3);
  }
}
