.section {
  padding: 50px 0;
}
.section__heading {
  padding-left: 10px;
  border-left: 5px solid $primary-color;
  margin-top: 0;
  margin-bottom: 57px;
  font-size: 29px;
  line-height: 38px;
}
@media (max-width: 1040px) {
  .section__heading {
    margin-bottom: 40px;
  }
}
@media (max-width: 775px) {
  .section {
    padding: 35px 0;
  }
}
@media (max-width: 710px) {
  .section__heading {
    margin-bottom: 35px;
    font-size: 24px;
  }
}
