.site-footer {
	padding: 60px 0 30px;
	background-color: #fff;
	text-align: center;
}
.site-footer__links-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 0;
	margin: 0;
	margin-bottom: 60px;
	list-style-type: none;
}
.site-footer__links-item {
	margin: 0 20px 15px;
}
.site-footer__link {
	color: #222;
	text-decoration: none;
	transition: color $transition-duration ease;

	&:hover,
	&:focus {
		color: $primary-color;
	}
}
@media (max-width: 710px) {
	.site-footer__links-list {
		margin-bottom: 20px;
	}
}
@media (max-width: 430px) {
	.site-footer__links-item {
		margin: 10px 15px;
	}
}
