.stats__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.stats__item {
  width: calc(33.33% - 30px);
  padding: 40px 30px;
  border-radius: 6px;
  background-color: #e4e4e4;
  transition: background-color $transition-duration ease,
    color $transition-duration ease;

  &:hover {
    background-color: $primary-color;
    color: #fff;
  }
}
.stats__number {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 72px;
  line-height: 1;
  font-weight: bold;
  color: $primary-color;
  transition: color $transition-duration ease;
}
.stats__item:hover .stats__number {
  color: #fff;
}
.stats__value {
  margin-top: 0;
  font-size: 19px;
  line-height: 26px;
  font-weight: bold;
}
.stats__text {
  margin-top: 0;
  margin-bottom: 0;
}
@media (max-width: 950px) {
  .stats__item {
    width: calc(33.33% - 20px);
    text-align: center;
  }
}
@media (max-width: 900px) {
  .stats__item {
    padding: 20px;
  }
  .stats__number {
    margin-bottom: 0;
    font-size: 50px;
  }
}
@media (max-width: 860px) {
  .stats__list {
    flex-wrap: wrap;
    margin-left: -20px;
  }
  .stats__item {
    flex-grow: 1;
    min-width: 250px;
    margin-left: 20px;
    margin-bottom: 20px;
  }
}
