html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Proxima Nova", "Arial", sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  background-color: #FAFBFC;
  color: #222222;
}
img {
  max-width: 100%;
  height: auto;
}
h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
}
h3, h4, h5, h6 {
  font-size: 17px;
}
hr {
  height: 1px;
  border: none;
  margin: 20px 0;
  background-color: #999;
}
.main-content {
  flex-grow: 1;
}
